* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    background: #f1f1f1;
    padding: 30px;
}

 button {
     background: none;
     border: 1px solid black;
     border-radius: 4px;
     padding: 10px 20px;
     font-size: 18px;
 }

 button:hover {
    background: red;
 }

 button:active {
     background: #000;
     color: #fff;
 }

  .button {
     text-align: center;
 }

 .hidden {
     display: none;
 }
 .slide {
     width: 500px;
     height: auto;
 }